venv/
*.pyc
*.db
.env
backend/database.db
backend/database.db
backend/database.db
backend/database.db
backend/database.db
*.db
frontend/context/backendUrl.tsx
backend/database.db
frontend/context/backendUrl.tsx
backend/database.db
